<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8">
    <title>NEYMO, a funny Mobile Money ATM project</title>
    
    <link rel="icon" href="/static/img/favicon.png" sizes="16x16">
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <!-- partial:index.partial.html -->
    <b class="neymo">
      <img src="/static/img/img.png" class="logo" />
      NEYMO 
      <small class="small">
        | by <a href="https://github.com/sanix-darker">d4rk3r</a>
      </small>
    </b>
    <main id="calculator" class="content">
      <h1 id="display">0</h1>
      <div id="panel" class="buttons">
        <button id="one" class="digit button" value="1">1</button>
        <button id="two" class="digit button" value="2">2</button>
        <button id="three" class="digit button" value="3">3</button>
        <button id="four" class="digit button" value="4">4</button>
        <button id="five" class="digit button" value="5">5</button>
        <button id="six" class="digit button" value="6">6</button>
        <button id="seven" class="digit button" value="7">7</button>
        <button id="eight" class="digit button" value="8">8</button>
        <button id="nine" class="digit button" value="9">9</button>
        <button id="zer" class="digit button" value="0">0</button>

        <button id="plus" class="blarge digit button" value="+">+</button>
        <button id="minus" class="blarge digit button" value="|">|</button>

        <button id="back" class="button" value="">	⌫</button>

         
        <button id="enter" class="blarge operator button" value="">ENTER</button>
        <button id="cancel" class="function blarge button" value="cancel">CANCEL</button>

        <button id="about" class="digit button" value="">
          <img src="/static/img/img.png" class="logo" />
        </button>

        <!-- 
        <button id="add" class="operator button" value="+">+</button>
        <button id="subtract" class="operator button" value="-">–</button>
        <button id="multiply" class="operator button" value="*">&times;</button>
        <button id="divide" class="operator button" value="/">&divide;</button>
        <button id="clear" class="function button" value="C">C</button>
        <button id="equals" class="calculate button" value="=">=</button> -->
      </div>
    </main>
    <!-- partial -->
    <script  src="/static/js/script.js"></script>
  </body>
</html>
